@import 'src/styles/vars';
@import 'src/styles/responsive';

.my-accomodations {
  position: relative;
  width: 100%;
  margin-bottom: $gutterSmall;
  padding: 5rem 7.5% 2rem 7.5%;

  // height: 1000px;
  @include tabletXL-only {
    padding: $headerGutter 7.5% 2rem 7.5%;
  }


  &__cards {
    width: fit-content;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    margin-bottom: $gutterMedium;
  }

  .background {
    z-index: -1;
    background-color: #101010;
    // transform: scaleX(-1);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100vh;
  }

  &__card {

    border-radius: $radiusLarge;
    margin: 1rem 0;
    // border: 1px solid #ccc;
    padding: $gutterSmall;
    width: 100%;
    // height: 40%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.4);

    @include tabletXL-only {
      width: 45%;
      padding: $gutterMedium;
    }

    &__content {
      flex-direction: column;
      display: flex;
      justify-content: space-between;
      width: 100%;

      @include tabletXL-only {
        flex-direction: row;
      }


      // height: 90%;

      &__image {
        display: flex;
        flex-direction: column;


        @include tablet-only {
          flex-direction: column-reverse;
          justify-content: space-between;
        }

        @include tabletXL-only {
          max-width: 48%;
          flex-direction: column;
        }



        & img {
          width: 100%;
          height: 300px;
          object-fit: cover;
          border-radius: $radiusLarge;

          @include tablet-only {
            margin-top: 0.8rem;
            flex-direction: column-reverse;
            justify-content: space-between;
          }

          // @include tabletXL-only {
          //   width: 300px;
          //   height: 300px;
          // }
        }
      }

      &__image>.my-accomodations__card__content__info {
        width: 100%;
      }

      &__infos {


        display: flex;
        flex-direction: column;
        justify-content: space-between;

        // height: 100%;
        // padding: 1rem;

        @include tablet-only {
          flex-direction: row;
          flex-wrap: wrap;
        }

        @include tabletXL-only {
          width: 48%;
          flex-direction: column;
        }

      }

      &__info {
        font-weight: $fontMedium;
        font-size: 0.9rem;
        width: 100%;

        @include tablet-only {
          width: 48%;
        }

        @include tabletXL-only {
          width: 100%;
        }

        &__title {
          color: #fff;
          padding: .5rem 0;
        }

        &__content {
          background-color: rgba(255, 255, 255, 0.84);
          box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.5);
          padding: .5rem $gutterSmall;
          border-radius: $radiusSmall;
        }

        // margin: 0.5rem 0;
        // padding: 1rem;
        // border: 1px solid #ccc;
      }
    }

    &__btn {
      margin: $gutterLarge auto 0 auto;
      width: 100%;
      display: flex;
      justify-content: center;

      &__edit {
        width: 50%;
        // margin-right: $gutterSmall;
        @include tablet-only{
          width: 30%;
          position: relative;
          right: $gutterMedium;
        }
        @include tabletXL-only {
         
          
        }

        & button {
          border-radius: $radiusSmall;
          font-family: $montserrat;
          // font-weight: $fontSemiBold;
          font-size: 1rem;
          color: white;
          border: none;
          background-color: rgba(254, 146, 45, 0.9);
          padding: .5rem;
          width: 100%;
          height: 100%;

          &:hover {
            background-color: $color-logo-1;
          }
        }
      }

      &__suppr {
        border-radius: $radiusSmall;
        font-family: $montserrat;
        // font-weight: $fontSemiBold;
        font-size: 1rem;
        color: white;
        border: none;
        padding: .5rem;
        width: fit-content;
        background-color: rgba(230, 71, 80, 0.9);

        // height: 100%;
        &:hover {
          background-color: $color-logo-2;
        }

        // @include tabletXL-only {
        //   width: fit-content;
        // }
      }
    }
  }

  &__new-accomodation {
    width: fit-content;
    // padding: 3rem;
    position: absolute;
    bottom: 0;

    @include tabletXL-only {
      right: 40%;
      width: 20%;
    }

    & button {
      box-shadow: 0px 0px 28px -7px rgba(255, 255, 255, 0.46);
      border-radius: $radiusSmall;
      font-family: $montserrat;
      // font-weight: $fontSemiBold;
      font-size: 1rem;
      // color: white;
      border: none;
      background-color: rgba(255, 255, 255, 0.84);
      padding: $gutterSmall;
      width: 100%;
      height: 100%;

      &:hover {
        background-color: rgba(255, 255, 255, 0.95);
      }
    }
  }
}
