$color-separator: #ccc;
$color-grey: #ccc;
$color-black: #000;
$color-link-hover-background: #eee;

$color-logo-1: #fe922d;
$color-logo-2: #e64750;

$box-shadow: 3px 3px 3px #{$color-grey};

$radiusSmall: 5px;
$radiusLarge: 20px;
