@import 'reset';
@import 'vars';

* {
  box-sizing: border-box;
}

body {
  font-family: $montserrat;
  min-height: 99vh;
  background-color: $backgroundDark;
}

p,
.MuiFormLabel-root,
.MuiTypography-root,
.MuiFormControlLabel-label {
  font-family: $montserrat !important;
}

.MuiFormLabel-root.Mui-focused {
  color: $color-logo-1 !important;
}
.MuiSwitch-colorPrimary.Mui-checked {
  color: $color-logo-1 !important;
}

.MuiSwitch-colorPrimary.Mui-checked + .MuiSwitch-track {
  background-color: $color-logo-1 !important;
}

.MuiInput-underline::after,
.MuiFilledInput-underline::after {
  border-bottom: solid 2px $color-logo-1 !important;
}

.MuiPickersDay-current {
  color: $color-logo-1 !important;
}

.MuiPickersDay-daySelected {
  background-color: $color-logo-1 !important;
  color: white !important;
}

section {
  width: 85%;
  margin: auto;
}

h2 {
  font-size: 1.2rem;
}


/*
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
