.accomodation-types-dropdown{
  width: 100%;
  //margin: 1rem;
}
.dropdown-title{
  text-align: center;
  font-weight: 600;
  font-size:1.5rem;
  padding:1rem;
}



.thematic{
  &__head{
    padding: 0.5rem 0l;
    width: 70%;
    border-bottom: 2px solid #ccc;
    font-weight: 600;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }
  // &__name{
  //   width: 20%;
  // }
  &__btn{
    
    text-decoration: underline;
    padding-bottom: 0;
    border: none;
    background-color: #fff;
  }
  &__items{
    overflow-x: auto;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
  }
}

.type{
  &__icon{
    width: 100px;
    padding: 1rem;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
  }
  &__name{
    text-align: center;
  }
  .check{
    display: none;
  }
  &__input{
    border: 1px solid #fff;
    display: block;
    position: relative;
    cursor: pointer;
    // &:before{
    //   background-color: black;
    //   color: black;
    //   content: " ";
    //   display: block;
    //   border-radius: 50%;
    //   border: 1px solid grey;
    //   position: absolute;
    //   top: -5px;
    //   left: -5px;
    //   width: 25px;
    //   height: 25px;
    //   text-align: center;
    //   line-height: 28px;
    //   transition-duration: 0.4s;
    //   transform: scale(0);
    // }
  }
}

:checked + label {
  border-radius: 5px;
  border-color: #aaa;
  box-shadow: 0 0 5px #333;
}

// :checked + label:before {
//   content: "✓";
//   background-color: grey;
//   transform: scale(1);
// }

:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
}


