@import 'src/styles/vars';
@import 'src/styles/responsive';

.search-page {
  .result-card {
    width: 100%;

    .slick-slider {
      height: 200px;
      box-shadow: 5px 0 15px #000;
      border-radius: 20px;

      @include desktop-only {
        border-radius: 20px 0 0 20px;
      }

      .slick-slide img {
        height: 200px;
        width: 100%;
        object-fit: cover;
        border-radius: 20px;

        @include desktop-only {
          border-radius: 20px 0 0 20px;
        }
      }

      .slick-dots {
        bottom: 0;

        &>li>button::before {
          color: $color-separator;
        }

        &>li.slick-active>button::before {
          color: $color-separator;
        }
      }

      .slick-prev {
        left: 5px;
      }

      .slick-next {
        right: 5px;
      }

      .slick-arrow {
        z-index: 1;
      }
    }

  }

  .MuiListItem-gutters {
      padding-right: 0;
      padding-left: 0;
      @include desktop-only{
        padding-right: 16px;
      }
    
  }

  .MuiCard-root {
    overflow: hidden;

    @include desktop-only {
      overflow: visible;
    }
  }

  .MuiListItem-root:first-child {
    @include desktop-only {
      padding-top: 0;
    }
  }
}
