@import 'src/styles/vars';

.search-page {
  .slick-slider {
    height: 150px;
    box-shadow: 3px 0 3px #000;

    .slick-slide img {
      height: 150px;
      object-fit: cover;
    }

    .slick-dots {
      bottom: 0;

      &>li>button::before {
        color: $color-separator;
      }

      &>li.slick-active>button::before {
        color: $color-separator;
      }
    }

    .slick-prev {
      left: 5px;
    }

    .slick-next {
      right: 5px;
    }

    .slick-arrow {
      z-index: 1;
    }
  }
}
