{% extends "base.html.twig" %}

{% block body %}
<h1>Modifier l'utilisateur</h1>


   {{ form_row(form.roles) }}

  <button type="submit" class="btn btn-primary">Modifier</button>


{# 
{{ form_start(formDelete) }}
    {{ form_widget(formDelete.deleteButton, {'attr': {'class': 'btn-link'}}) }}
{{ form_end(formDelete) }} #}

{% endblock %}