@import 'src/styles/vars';
@import 'src/styles/responsive';


.map {

  width: 58%;
  height: 70vh;

  >div>div {
    border-radius: 20px;
  }

  // @include desktop-only {

  //   height: 76%;
  // }
}

@media(max-width:760px) {
  .map {
    width: 100%,
  }
}

.marker {
  position: relative;

  &:hover {
    .pin {
      opacity: 0;
    }

    .marker__card {
      display: block;
      animation: fade-in-from-none .5s ease-out;
    }
  }

  &__card {
    z-index: 999;
    display: none;
    opacity: 1;
    position: absolute;
    width: 200px;
    bottom: 10px;
    left: -100px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 3px 3px 3px #888;

    .slick-arrow {
      z-index: 10;
      top: calc(50% + 5px);
    }

    .slick-next {
      right: 10px;
    }

    .slick-prev {
      left: 10px;
    }

    .slick-slide img {
      height: 125px;
      object-fit: cover;
    }

    .slick-dots {
      z-index: 10;
      bottom: 0;
    }

    &__content {
      padding: .8rem;

      &__title {
        font-family: $crimson;
        font-weight: 700;
        font-size: 20px;
      }

      &__location {
        font-family: $montserrat;
        font-weight: 600;
        font-size: 12px;
        margin-bottom: .8rem;
      }

      &__type {
        font-family: $montserrat;
        font-weight: 300;
        font-size: 12px;
      }
    }

    &::after {
      content: "";
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid white;
      position: absolute;
      left: calc(50% - 10px);
    }
  }

  .pin {
    z-index: 0;
    position: absolute;
    background-color: grey;
    border-radius: 50% 50% 50% 0;
    width: 40px;
    height: 40px;
    transform: translate(-20px, -45px) rotate(-45deg);
    opacity: 1;

    &__icon {
      background-color: white;
      padding-top: 4px;
      text-align: center;
      width: 35px;
      height: 35px;
      margin: auto;
      border-radius: 50%;
      transform: translate(0px, 2px) rotate(45deg);
    }
  }
}

@keyframes fade-in-from-none {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}
