
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

public/assets/type/icon/*.png
public/assets/type/icon/*.jpg
public/assets/type/icon/*.jpeg

public/assets/type/picture/*.png
public/assets/type/icon/*.jpg
public/assets/type/icon/*.jpeg

/public/assets/service/icon/*.jpg
/public/assets/service/icon/*.jpeg
/public/assets/service/icon/*.png