
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

# /public/assets/type/*.png
# /public/assets/type/*.jpg
# /public/assets/type/*.jpeg

# /public/assets/icon/*.jpg
# /public/assets/icon/*.jpeg
# /public/assets/icon/*.png

# /public/assets/accomodation/*.jpg
# /public/assets/accomodation/*.jpeg 
# /public/assets/accomodation/*.png 

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

