@import 'src/styles/responsive';

.footer {
  line-height: 1.5rem;
  padding: 0.5rem;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__social-networks{
    width: 300px;
    margin: auto;
    display: flex;
    justify-content: space-around;
  }

  &__links{
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  &__copyright{
   // margin-top: 1rem;
    font-size: 0.6rem;
  }
}

@include respond-to(desktop){
  .footer__links{
    margin-top: 1rem;
    width: 70%;
    flex-direction: row;
    justify-content: space-around;
  }
}
