{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page non trouvée</h1>

    <p>
        Cette page n'a pas pu être trouvée. Checkout for any URL
        misspelling or <a href="{{ path('app_login') }}">return to the homepage</a>.
    </p>
{% endblock %}