@import 'src/styles/vars';

.home {



  .background {
    z-index: -1;
    transform: scaleX(-1);
    position: absolute;
    top: -15rem;
    width: 100%;
    height: auto;
  }

  .search {
    // padding: 2rem;

    &__title {}

    &__formular {
      .row {
        display: flex;
        align-items: center;
        flex-direction: column;

        &__item {
          margin: 1rem;
          width: 100%;
        }
      }
    }

    &__submit {
      min-width: 200px;
      width: 50%;
      padding: 1rem;
      text-align: center;
      border-radius: 5px;
      color: white;
      font-weight: 500;
      box-shadow: none;
      border: none;
      background-color: $color-logo-1;
      background-image: linear-gradient(90deg, rgba(254, 146, 45, 0) 34%, rgba(230, 71, 80, 1) 50%);
      background-size: 200% 100%;
      font-size: 1rem;
      transition: background-position .3s;
      &:hover {
        background-position: 100% 0%;
      }
    }
  }

  @media(min-width: 650px) {
    .search {
      position: relative;
      height: 100vh;
      text-align: center;
      width: 60%;
      padding-top: 50vh;
      margin-right: auto;
      margin-left: auto;

      &__formular {
        background-color: rgba(255, 255, 255, 0.2);
        margin-top: 1rem;
        color:white;

        // border: 1px solid #ccc;
        padding: $gutterSmall $gutterLarge;
        border-radius: $radiusLarge;
      }

      &__title {
        color: white;
        font-weight: $fontSemiBold;
        text-align: left;
        padding: 0 $gutterLarge;
      }

      .row {
        margin-bottom: $gutterMedium;
        flex-direction: row !important;
        justify-content: space-between;

        // &:last-of-type {
          //   margin-bottom: 0;
        // }

        &__item {
          width: 45%;
          margin: 0;
        }
      }
      // &__submit-link{
        //   align-self: center;
      // }
      &__submit {
        margin: auto;
        text-align: center;
        font-size: 1rem;
        width: 13vw;
        padding: .8rem;
        font-size: 1.2rem;
      }
    }

    .slider {
      &__label {
        padding: 0 0 1rem 0;
      }
    }

    .accomodation-types {
      width: 100%;
      background-color: #101010;
      padding-bottom: 2rem;
    }
  }
}
