@import 'src/styles/vars';

.search-page {
  padding: $headerGutter 0 0 0;
  margin: auto;
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: min-content;
  grid-gap: 2rem;
  // .MuiFormLabel-root {
  //   font-family: $montserrat;
  //   padding: $gutterSmall;
  //   z-index: 999;
  // }
  .background {
    background-color: #101010;
    background: url('../../assets/backgrounds/searchBackground.png');
    background-size: cover;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: -1;
  }
}


